<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 分词组件配置文件路径 -->
    <add key="MIAP.PanguConfigPath" value="~/Pangu.config" />
    <!-- 上传文件保存根目录 -->
    <add key="MIAP.FileRoot" value="~/Files/" />
    <!-- 图片文件URL补全前缀 -->
    <add key="MIAP.ImageUrlPreFix" value="http://s.join4talk.com" />
    <!-- 课程详细描述WEB URL路径 -->
    <add key="MIAP.CourseWebUrl" value="http://m.join4talk.com/C/{0}/" />
    <!-- 广告详细描述WEB URL路径 -->
    <add key="MIAP.AdvertWebUrl" value="http://m.join4talk.com/A/{0}/" />
    <!-- 新闻详细描述WEB URL路径 -->
    <add key="MIAP.NewsWebUrl" value="http://m.join4talk.com/N/{0}/" />
    <!-- Memcached服务器列表 -->
    <add key="Memcached.Servers" value="192.168.9.48:11211" />
    <!-- MongoDbCached服务器及数据库配置 -->
    <add key="MongoDbCached.Configs" value="mongodb://192.168.9.48:27017/Configs" />
    <!-- MongoDbCached服务器及数据库配置 -->
    <add key="MongoDbCached.Users" value="mongodb://192.168.9.48:27017/Users" />
    <!-- MongoDbCached服务器及数据库配置 -->
    <add key="MongoDbCached.Groups" value="mongodb://192.168.9.48:27017/Groups" />
    <!-- 系统核心配置缓存名 -->
    <add key="MIPA.CoreCacheName" value="MIAP_CoreCache" />
  </appSettings>

  <connectionStrings>
    <add name="DefaultDB" lockItem="false" providerName="System.Data.SqlClient" connectionString="Server=192.168.9.48;User ID=Join4Talk;Password=gwsoft123!@#;Database=MIAP_Join4Talk_Project;Connect Timeout=5;Pooling=true;Max Pool Size=1000;Min Pool Size=0" />
    <add name="WriteDb" lockItem="false" providerName="System.Data.SqlClient" connectionString="Server=192.168.9.48;User ID=Join4Talk;Password=gwsoft123!@#;Database=MIAP_Join4Talk_Project;Connect Timeout=5;Pooling=true;Max Pool Size=1000;Min Pool Size=0" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpHandlers>
      <add verb="POST" path="/Service/Data.ashx" type="MIAP.HttpCore.DataHttphandler, MIAP.HttpCore" />
      <add verb="POST" path="/Service/Sync.ashx" type="MIAP.HttpCore.SyncHttphandler, MIAP.HttpCore" />
    </httpHandlers>
    <httpModules>
      <add name="MIAPHttpModule" type="MIAP.HttpCore.HttpMoudle, MIAP.HttpCore" />
    </httpModules>
    <httpRuntime targetFramework="4.5" executionTimeout="300" maxRequestLength="2147483647"></httpRuntime>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="DataHttpHandler" verb="POST" path="/Service/Data.ashx" type="MIAP.HttpCore.DataHttphandler, MIAP.HttpCore" />
      <add name="SyncHttpHandler" verb="POST" path="/Service/Sync.ashx" type="MIAP.HttpCore.SyncHttphandler, MIAP.HttpCore" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="MIAPHttpModule" type="MIAP.HttpCore.HttpMoudle, MIAP.HttpCore" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"></requestLimits>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>